@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        paint-order: stroke fill;
    }
    .font-outline-4 {
        -webkit-text-stroke: 4px #c79ec6;
    }

    .font-outline-hover {
        -webkit-text-stroke: 4px #c79ec6be;
    }

    .font-outline-white {
        -webkit-text-stroke: 2px #c79ec6;
    }
}
